{{define "form/outbound"}}
<!-- base -->
<a-tabs :active-key="outModal.activeKey"  style="padding: 0; background-color: transparent;" @change="(activeKey) => {outModal.toggleJson(activeKey == '2'); }">
<a-tab-pane key="1" tab="Form">
<a-form :colon="false" :label-col="{ md: {span:8} }" :wrapper-col="{ md: {span:14} }">
        <a-form-item label='{{ i18n "protocol" }}'>
            <a-select v-model="outbound.protocol" :dropdown-class-name="themeSwitcher.currentTheme">
                <a-select-option v-for="x,y in Protocols" :value="x">[[ y ]]</a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.tag" }}' has-feedback :validate-status="outModal.duplicateTag? 'warning' : 'success'">
            <a-input v-model.trim="outbound.tag" @change="outModal.check()" placeholder='{{ i18n "pages.xray.outbound.tagDesc" }}'></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.sendThrough" }}'>
            <a-input v-model="outbound.sendThrough"></a-input>
        </a-form-item>

<!-- freedom settings-->
<template v-if="outbound.protocol === Protocols.Freedom">
    <a-form-item label='{{ i18n "pages.xray.outbound.freedom.strategy" }}'>
      <a-select v-model="outbound.settings.domainStrategy" :dropdown-class-name="themeSwitcher.currentTheme">
        <a-select-option v-for="s in OutboundDomainStrategies" :value="s">[[ s ]]</a-select-option>
      </a-select>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.xray.outbound.freedom.redirect" }}'>
      <a-input v-model="outbound.settings.redirect"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.xray.outbound.freedom.fragment" }}'>
      <a-switch :checked="Object.keys(outbound.settings.fragment).length >0"
        @change="checked => outbound.settings.fragment = checked ? new Outbound.FreedomSettings.Fragment() : {}">
      </a-switch>
    </a-form-item>
    <template v-if="Object.keys(outbound.settings.fragment).length >0">
      <a-form-item label='{{ i18n "pages.xray.outbound.freedom.packets" }}'>
        <a-select v-model="outbound.settings.fragment.packets" :dropdown-class-name="themeSwitcher.currentTheme">
          <a-select-option v-for="s in ['1-3','tlshello']" :value="s">[[ s ]]</a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label='{{ i18n "pages.xray.outbound.freedom.length" }}'>
        <a-input v-model.trim="outbound.settings.fragment.length"></a-input>
      </a-form-item>
      <a-form-item label='{{ i18n "pages.xray.outbound.freedom.interval" }}'>
        <a-input v-model.trim="outbound.settings.fragment.interval"></a-input>
      </a-form-item>
    </template>

    <!-- Switch for Noises -->
    <a-form-item label='{{ i18n "pages.xray.outbound.freedom.noises" }}'>
      <a-switch :checked="outbound.settings.noises.length > 0"
        @change="checked => outbound.settings.noises = checked ? [new Outbound.FreedomSettings.Noise()] : []">
      </a-switch>
    </a-form-item>

    <!-- Add Noise Button -->
    <template v-if="outbound.settings.noises.length > 0">
      <a-form-item label='{{ i18n "pages.xray.outbound.freedom.noises" }}'>
        <a-button icon="plus" type="primary" size="small" @click="outbound.settings.addNoise()"></a-button>
      </a-form-item>
    
    <!-- Noise Configurations -->
      <a-form v-for="(noise, index) in outbound.settings.noises" :key="index" :colon="false" :label-col="{ md: {span:8} }"
        :wrapper-col="{ md: {span:14} }">
        <a-divider style="margin:0;"> {{ i18n "pages.inbounds.stream.finalmask.noise" }} [[ index + 1 ]]
          <a-icon v-if="outbound.settings.noises.length > 1" type="delete" @click="() => outbound.settings.delNoise(index)"
            style="color: rgb(255, 77, 79); cursor: pointer;"></a-icon>
        </a-divider>
        <a-form-item label='{{ i18n "pages.inbounds.stream.hysteria.type" }}'>
          <a-select v-model="noise.type" :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option v-for="s in ['rand','base64','str','hex']" :value="s">[[ s ]]</a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.packet" }}'>
          <a-input v-model.trim="noise.packet"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.delay" }}'>
          <a-input v-model.trim="noise.delay"></a-input>
        </a-form-item>
      </a-form>
    </template>
  </template>

<!-- blackhole settings -->
<template v-if="outbound.protocol === Protocols.Blackhole">
    <a-form-item label='{{ i18n "pages.xray.outbound.dns.responseType" }}'>
        <a-select v-model="outbound.settings.type" :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option v-for="s in ['', 'none','http']" :value="s">[[ s ]]</a-select-option>
        </a-select>
    </a-form-item>
</template>

<!-- dns settings -->
<template v-if="outbound.protocol === Protocols.DNS">
    <a-form-item label='{{ i18n "pages.inbounds.network" }}'>
        <a-select v-model="outbound.settings.network" :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option v-for="s in ['udp','tcp']" :value="s">[[ s ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.xray.outbound.dns.nonIPQueries" }}'>
        <a-select v-model="outbound.settings.nonIPQuery" :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option v-for="s in ['drop','skip']" :value="s">[[ s ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item v-if="outbound.settings.nonIPQuery === 'skip'" label='{{ i18n "pages.xray.outbound.dns.blockTypes" }}'>
        <a-input v-model.number="outbound.settings.blockTypes"></a-input>
    </a-form-item>
</template>

<!-- wireguard settings -->
<template v-if="outbound.protocol === Protocols.Wireguard">
    <a-form-item>
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "pages.xray.rules.useComma" }}</span>
                </template>
                {{ i18n "pages.xray.outbound.address" }} <a-icon type="question-circle"></a-icon>
            </a-tooltip>
        </template>
        <a-input v-model.trim="outbound.settings.address"></a-input>
    </a-form-item>
    <a-form-item>
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "reset" }}</span>
                </template>
                {{ i18n "pages.xray.wireguard.secretKey" }}
                <a-icon type="sync"
                    @click="[outbound.settings.pubKey, outbound.settings.secretKey] = Object.values(Wireguard.generateKeypair())">
                </a-icon>
            </a-tooltip>
        </template>
        <a-input v-model.trim="outbound.settings.secretKey"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.xray.wireguard.publicKey" }}'>
        <a-input disabled v-model="outbound.settings.pubKey"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.xray.wireguard.domainStrategy" }}'>
        <a-select v-model="outbound.settings.domainStrategy" :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option v-for="wds in ['', ...WireguardDomainStrategy]" :value="wds">[[ wds ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.protocols.mtu" }}'>
        <a-input-number v-model.number="outbound.settings.mtu"></a-input-number>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.protocols.workers" }}'>
        <a-input-number min="0" v-model.number="outbound.settings.workers"></a-input-number>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.protocols.noKernelTun" }}'>
        <a-switch v-model="outbound.settings.noKernelTun"></a-switch>
    </a-form-item>
    <a-form-item>
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "pages.xray.rules.useComma" }}</span>
                </template>
                Reserved <a-icon type="question-circle"></a-icon>
            </a-tooltip>
        </template>
        <a-input v-model="outbound.settings.reserved"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.protocols.peers" }}'>
        <a-button type="primary" size="small" @click="outbound.settings.addPeer()">+</a-button>
    </a-form-item>
    <a-form v-for="(peer, index) in outbound.settings.peers" :colon="false" :label-col="{ md: {span:8} }" :wrapper-col="{ md: {span:14} }">
        <a-divider style="margin:0;">
            Peer [[ index + 1 ]]
            <a-icon v-if="outbound.settings.peers.length>1" type="delete" @click="() => outbound.settings.delPeer(index)"
                    style="color: rgb(255, 77, 79);cursor: pointer;"/>
        </a-divider>

        <a-form-item label='{{ i18n "pages.xray.wireguard.endpoint" }}'>
            <a-input v-model.trim="peer.endpoint"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.wireguard.publicKey" }}'>
            <a-input v-model.trim="peer.publicKey"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.wireguard.psk" }}'>
            <a-input v-model.trim="peer.psk"></a-input>
        </a-form-item>
        <a-form-item>
            <template slot="label">
                {{ i18n "pages.xray.wireguard.allowedIPs" }} <a-button type="primary" size="small" @click="peer.allowedIPs.push('')">+</a-button>
            </template>
            <template v-for="(aip, index) in peer.allowedIPs" style="margin-bottom: 10px;">
                <a-input v-model.trim="peer.allowedIPs[index]">
                    <a-button v-if="peer.allowedIPs.length>1" slot="addonAfter" size="small" @click="peer.allowedIPs.splice(index, 1)">-</a-button>
                </a-input>
            </template>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.protocols.keepAlive" }}'>
            <a-input-number v-model.number="peer.keepAlive" :min="0"></a-input-number>
        </a-form-item>    
    </a-form>
</template>

<!-- Address + Port -->
<template v-if="outbound.hasAddressPort()">
        <a-form-item label='{{ i18n "pages.inbounds.address" }}'>
            <a-input v-model.trim="outbound.settings.address"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.port" }}'>
            <a-input-number v-model.number="outbound.settings.port" :min="1" :max="65532"></a-input-number>
        </a-form-item>
</template>

<!-- vless/vmess user settings -->
<template v-if="[Protocols.VMess, Protocols.VLESS].includes(outbound.protocol)">
    <a-form-item label='ID'>
        <a-input v-model.trim="outbound.settings.id"></a-input>
    </a-form-item>

    <!-- vmess settings -->
    <template v-if="outbound.protocol === Protocols.VMess">
        <a-form-item label='{{ i18n "security" }}'>
        <a-select v-model="outbound.settings.security" :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option v-for="key in USERS_SECURITY" :value="key">[[ key ]]</a-select-option>
        </a-select>
        </a-form-item>
    </template>

    <!-- vless settings -->
    <template v-if="outbound.protocol === Protocols.VLESS">
        <a-form-item label='{{ i18n "pages.inbounds.protocols.encryption" }}'>
            <a-input v-model.trim="outbound.settings.encryption"></a-input>
        </a-form-item>
    </template>
    <template v-if="outbound.canEnableTlsFlow()">
        <a-form-item label='{{ i18n "pages.inbounds.protocols.flow" }}'>
            <a-select v-model="outbound.settings.flow" :dropdown-class-name="themeSwitcher.currentTheme">
                <a-select-option value="" selected>{{ i18n "none" }}</a-select-option>
                <a-select-option v-for="key in TLS_FLOW_CONTROL" :value="key">[[ key ]]</a-select-option>
            </a-select>
        </a-form-item>
    </template>
    <!-- XTLS Vision Advanced Settings -->
    <template v-if="outbound.canEnableVisionSeed()">
        <a-form-item label='{{ i18n "pages.inbounds.protocols.visionPreConnect" }}'>
        <a-input-number v-model.number="outbound.settings.testpre" :min="0" :max="10" :style="{ width: '100%' }" placeholder="0"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.protocols.visionSeed" }}'>
        <a-row :gutter="8">
            <a-col :span="6">
            <a-input-number v-model.number="outbound.settings.testseed[0]" :min="0" :max="9999" :style="{ width: '100%' }" placeholder="900" addon-before="[0]"></a-input-number>
            </a-col>
            <a-col :span="6">
            <a-input-number v-model.number="outbound.settings.testseed[1]" :min="0" :max="9999" :style="{ width: '100%' }" placeholder="500" addon-before="[1]"></a-input-number>
            </a-col>
            <a-col :span="6">
            <a-input-number v-model.number="outbound.settings.testseed[2]" :min="0" :max="9999" :style="{ width: '100%' }" placeholder="900" addon-before="[2]"></a-input-number>
            </a-col>
            <a-col :span="6">
            <a-input-number v-model.number="outbound.settings.testseed[3]" :min="0" :max="9999" :style="{ width: '100%' }" placeholder="256" addon-before="[3]"></a-input-number>
            </a-col>
        </a-row>
        </a-form-item>
    </template>
</template>

<!-- Servers (trojan/shadowsocks/socks/http) settings -->
<template v-if="outbound.hasServers()">
    <!-- http / socks -->
    <template v-if="outbound.hasUsername()">
        <a-form-item label='{{ i18n "username" }}'>
            <a-input v-model.trim="outbound.settings.user"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "password" }}'>
            <a-input v-model.trim="outbound.settings.pass"></a-input>
        </a-form-item>
    </template>
    <!-- trojan/shadowsocks -->
    <template v-if="[Protocols.Trojan, Protocols.Shadowsocks].includes(outbound.protocol)">
        <a-form-item label='{{ i18n "password" }}'>
        <a-input v-model.trim="outbound.settings.password"></a-input>
        </a-form-item>
    </template>
    <!-- shadowsocks -->
    <template v-if="outbound.protocol === Protocols.Shadowsocks">
        <a-form-item label='{{ i18n "encryption" }}'>
            <a-select v-model="outbound.settings.method" :dropdown-class-name="themeSwitcher.currentTheme">
                <a-select-option v-for="(method, method_name) in SSMethods" :value="method">[[ method_name ]]</a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.protocols.udpOverTCP" }}'>
            <a-switch v-model="outbound.settings.uot"></a-switch>
        </a-form-item>
    </template>
      <!-- hysteria settings -->
      <template v-if="outbound.protocol === Protocols.Hysteria">
        <a-form-item label='{{ i18n "pages.xray.outbound.socks.version" }}'>
          <a-input-number v-model.number="outbound.settings.version" :min="2"
            :max="2" disabled></a-input-number>
        </a-form-item>
      </template>
</template>

<!-- stream settings -->
<template v-if="outbound.canEnableStream()">
    <a-form-item label='{{ i18n "transmission" }}'>
        <a-select v-model="outbound.stream.network" @change="streamNetworkChange"
                :dropdown-class-name="themeSwitcher.currentTheme">
            <template v-if="outbound.protocol != Protocols.Hysteria">
                <a-select-option value="tcp">TCP</a-select-option>
                <a-select-option value="kcp">mKCP</a-select-option>
                <a-select-option value="ws">WebSocket</a-select-option>
                <a-select-option value="grpc">gRPC</a-select-option>
                <a-select-option value="httpupgrade">HTTPUpgrade</a-select-option>
                <a-select-option value="xhttp">XHTTP</a-select-option>
            </template>
            <template v-else>
                <a-select-option value="hysteria">Hysteria2</a-select-option>
            </template>
        </a-select>
    </a-form-item>
    <template v-if="outbound.stream.network === 'tcp'">
        <a-form-item label='HTTP {{ i18n "camouflage" }}'>
            <a-switch :checked="outbound.stream.tcp.type === 'http'"
                @change="checked => outbound.stream.tcp.type = checked ? 'http' : 'none'">
            </a-switch>
        </a-form-item>
        <template v-if="outbound.stream.tcp.type == 'http'">
            <a-form-item label='{{ i18n "host" }}'>
                <a-input v-model.trim="outbound.stream.tcp.host"></a-input>
            </a-form-item> 
            <a-form-item label='{{ i18n "path" }}'>
                <a-input v-model.trim="outbound.stream.tcp.path"></a-input>
            </a-form-item> 
        </template>
    </template>
    
    <!-- kcp -->
    <template v-if="outbound.stream.network === 'kcp'">
        <a-form-item label='{{ i18n "pages.inbounds.stream.kcp.mtu" }}'>
            <a-input-number v-model.number="outbound.stream.kcp.mtu"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.kcp.tti" }}'>
            <a-input-number v-model.number="outbound.stream.kcp.tti"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.kcp.uplinkMBps" }}'>
            <a-input-number v-model.number="outbound.stream.kcp.upCap"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.kcp.downlinkMBps" }}'>
            <a-input-number v-model.number="outbound.stream.kcp.downCap"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.kcp.congestion" }}'>
            <a-switch v-model="outbound.stream.kcp.congestion"></a-switch>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.kcp.readBuffer" }}'>
            <a-input-number v-model.number="outbound.stream.kcp.readBuffer"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.kcp.writeBuffer" }}'>
            <a-input-number v-model.number="outbound.stream.kcp.writeBuffer"></a-input-number>
        </a-form-item>
    </template>
    
    <!-- ws -->
    <template v-if="outbound.stream.network === 'ws'">
        <a-form-item label='{{ i18n "host" }}'>
            <a-input v-model="outbound.stream.ws.host"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "path" }}'>
            <a-input v-model.trim="outbound.stream.ws.path"></a-input>
        </a-form-item>
    </template>
 
    <!-- grpc -->
    <template v-if="outbound.stream.network === 'grpc'">
        <a-form-item label='{{ i18n "pages.inbounds.stream.grpc.serviceName" }}'>
            <a-input v-model.trim="outbound.stream.grpc.serviceName"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.grpc.authority" }}'>
            <a-input v-model.trim="outbound.stream.grpc.authority"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.grpc.multiMode" }}'>
            <a-switch v-model="outbound.stream.grpc.multiMode"></a-switch>
        </a-form-item>
    </template>

    <!-- httpupgrade -->
    <template v-if="outbound.stream.network === 'httpupgrade'">
        <a-form-item label='{{ i18n "host" }}'>
            <a-input v-model="outbound.stream.httpupgrade.host"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "path" }}'>
            <a-input v-model.trim="outbound.stream.httpupgrade.path"></a-input>
        </a-form-item>
    </template>
    
    <!-- xhttp -->
    <template v-if="outbound.stream.network === 'xhttp'">
        <a-form-item label='{{ i18n "host" }}'>
            <a-input v-model="outbound.stream.xhttp.host"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "path" }}'>
            <a-input v-model.trim="outbound.stream.xhttp.path"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.mode" }}'>
            <a-select v-model="outbound.stream.xhttp.mode" :dropdown-class-name="themeSwitcher.currentTheme">
                <a-select-option v-for="key in MODE_OPTION" :value="key">[[ key ]]</a-select-option>
            </a-select>
        </a-form-item>

        <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.extraSettings" }}'>
            <a-tooltip placement="bottom">
                <template slot="title">
                    <span>{{ i18n "pages.inbounds.stream.xhttp.extraSettingsDesc" }}</span>
                </template>
                <a-switch v-model="outbound.stream.xhttp.extraEnable"></a-switch>
            </a-tooltip>
        </a-form-item>

        <template v-if="outbound.stream.xhttp.extraEnable">
            <a-form-item label='{{ i18n "pages.inbounds.stream.tcp.requestHeader" }}'>
                <a-button icon="plus" size="small"
                    @click="outbound.stream.xhttp.extra.addHeader('', '')"></a-button>
            </a-form-item>
            <a-form-item :wrapper-col="{ span: 24 }">
                <a-input-group compact v-for="(header, index) in outbound.stream.xhttp.extra.headers">
                    <a-input style="width: 50%" v-model.trim="header.name"
                        placeholder='{{ i18n "pages.inbounds.stream.general.name" }}'
                        :class="header.name && header.name.toLowerCase() === 'host' ? 'has-error' : ''">
                        <template slot="addonBefore" style="margin: 0;">[[ index+1 ]]</template>
                    </a-input>
                    <a-input style="width: 50%" v-model.trim="header.value"
                        placeholder='{{ i18n "pages.inbounds.stream.general.value" }}'>
                        <a-button slot="addonAfter" size="small"
                            @click="outbound.stream.xhttp.extra.removeHeader(index)">-</a-button>
                    </a-input>
                </a-input-group>
                <a-alert v-if="outbound.stream.xhttp.extra.headers.some(h => h.name && h.name.toLowerCase() === 'host')"
                    type="warning" show-icon style="margin-top: 4px;"
                    message='{{ i18n "pages.inbounds.stream.xhttp.hostHeaderForbidden" }}'>
                </a-alert>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.paddingBytes" }}'>
                <a-input v-model.trim="outbound.stream.xhttp.extra.xPaddingBytes" placeholder="100-1000"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.maxUploadSize" }}'
                v-if="outbound.stream.xhttp.mode === 'packet-up'">
                <a-input v-model.trim="outbound.stream.xhttp.extra.scMaxEachPostBytes" placeholder="1000000"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.noGRPCHeader" }}'
                v-if="outbound.stream.xhttp.mode === 'stream-up' || outbound.stream.xhttp.mode === 'stream-one'">
                <a-switch v-model="outbound.stream.xhttp.extra.noGRPCHeader"></a-switch>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.minUploadInterval" }}'
                v-if="outbound.stream.xhttp.mode === 'packet-up'">
                <a-input v-model.trim="outbound.stream.xhttp.extra.scMinPostsIntervalMs"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.maxConcurrency" }}'
                v-if="!outbound.stream.xhttp.extra.xmux.maxConnections">
                <a-input v-model="outbound.stream.xhttp.extra.xmux.maxConcurrency"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.maxConnections" }}'
                v-if="!outbound.stream.xhttp.extra.xmux.maxConcurrency">
                <a-input v-model="outbound.stream.xhttp.extra.xmux.maxConnections"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.maxReuseTimes" }}'>
                <a-input v-model="outbound.stream.xhttp.extra.xmux.cMaxReuseTimes"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.maxRequestTimes" }}'>
                <a-input v-model="outbound.stream.xhttp.extra.xmux.hMaxRequestTimes"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.maxReusableSecs" }}'>
                <a-input v-model="outbound.stream.xhttp.extra.xmux.hMaxReusableSecs"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.keepAlivePeriod" }}'>
                <a-input-number v-model.number="outbound.stream.xhttp.extra.xmux.hKeepAlivePeriod"></a-input-number>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.xhttp.downloadSettings" }}'>
                <a-tooltip placement="bottom">
                    <template slot="title">
                        <span>{{ i18n "pages.inbounds.stream.xhttp.downloadSettingsDesc" }}</span>
                    </template>
                    <a-switch v-model="outbound.stream.xhttp.extra.downloadSettingsEnable"></a-switch>
                </a-tooltip>
            </a-form-item>
            <a-form-item v-if="outbound.stream.xhttp.extra.downloadSettingsEnable"
                label='{{ i18n "pages.inbounds.stream.xhttp.downloadJSON" }}'>
                <a-input
                    type="textarea"
                    :auto-size="{ minRows: 8, maxRows: 20 }"
                    v-model="outbound.stream.xhttp.extra.downloadSettings"
                    style="font-family: monospace; direction: ltr; text-align: left;"
                    placeholder='{"address": "another.example.com", "port": 443, "network": "xhttp", "security": "tls", "tlsSettings": {}, "xhttpSettings": {"path": "/yourpath", "mode": "auto"}}'>
                </a-input>
            </a-form-item>
        </template>
    </template>
    <!-- hysteria -->
    <template v-if="outbound.stream.network === 'hysteria'">
        <a-form-item label='{{ i18n "pages.inbounds.stream.hysteria.authPassword" }}'>
            <a-input v-model.trim="outbound.stream.hysteria.auth"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.inbounds.stream.kcp.congestion" }}'>
            <a-select v-model="outbound.stream.hysteria.congestion"
                :dropdown-class-name="themeSwitcher.currentTheme">
                <a-select-option value>BBR (Auto)</a-select-option>
                <a-select-option value="brutal">Brutal</a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.uploadSpeed" }}'>
            <a-input v-model.trim="outbound.stream.hysteria.up"
                placeholder="0 (BBR mode), e.g., 100 mbps"></a-input>
            </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.downloadSpeed" }}'>
            <a-input v-model.trim="outbound.stream.hysteria.down"
                placeholder="0 (BBR mode), e.g., 100 mbps"></a-input>
            </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.udpHopPort" }}'>
            <a-input v-model.trim="outbound.stream.hysteria.udphopPort"
                placeholder="e.g., 1145-1919 or 11,13,15-17"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.hopIntervalMin" }}'
            v-if="outbound.stream.hysteria.udphopPort">
            <a-input-number
            v-model.number="outbound.stream.hysteria.udphopIntervalMin"
            :min="5"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.hopIntervalMax" }}'
            v-if="outbound.stream.hysteria.udphopPort">
            <a-input-number
            v-model.number="outbound.stream.hysteria.udphopIntervalMax"
            :min="5"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.initStreamReceive" }}'>
            <a-input-number
                v-model.number="outbound.stream.hysteria.initStreamReceiveWindow"></a-input-number>
            </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.maxStreamReceive" }}'>
            <a-input-number
                v-model.number="outbound.stream.hysteria.maxStreamReceiveWindow"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.initConnReceive" }}'>
            <a-input-number
                v-model.number="outbound.stream.hysteria.initConnectionReceiveWindow"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.maxConnReceive" }}'>
            <a-input-number
                v-model.number="outbound.stream.hysteria.maxConnectionReceiveWindow"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.maxIdleTimeout" }}'>
            <a-input-number
                v-model.number="outbound.stream.hysteria.maxIdleTimeout" :min="4"
                :max="120"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.keepAlivePeriod" }}'>
            <a-input-number
                v-model.number="outbound.stream.hysteria.keepAlivePeriod" :min="0"
                :max="60"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.hysteria.disablePathMTU" }}'>
            <a-switch
                v-model="outbound.stream.hysteria.disablePathMTUDiscovery"></a-switch>
        </a-form-item>
    </template>
</template>

<!-- finalmask settings -->
<template v-if="outbound.canEnableStream()">
    <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.udpMasks" }}' v-if="outbound.stream.network === 'kcp' || outbound.protocol === Protocols.Hysteria">
    <a-button icon="plus" type="primary" size="small"
        @click="outbound.stream.addUdpMask(outbound.protocol === Protocols.Hysteria ? 'salamander' : 'mkcp-aes128gcm')"></a-button>
    </a-form-item>
    <template
    v-if="outbound.stream.finalmask.udp && outbound.stream.finalmask.udp.length > 0">
    <a-form v-for="(mask, index) in outbound.stream.finalmask.udp"
        :key="index" :colon="false"
        :label-col="{ md: {span:8} }" :wrapper-col="{ md: {span:14} }">
        <a-divider :style="{ margin: '0' }"> {{ i18n "pages.inbounds.stream.finalmask.udpMask" }} [[ index + 1 ]]
        <a-icon type="delete"
            @click="() => outbound.stream.delUdpMask(index)"
            :style="{ color: 'rgb(255, 77, 79)', cursor: 'pointer' }"></a-icon>
        </a-divider>
        <a-form-item label='{{ i18n "pages.inbounds.stream.hysteria.type" }}'>
        <a-select v-model="mask.type"
            @change="(type) => mask.settings = mask._getDefaultSettings(type, {})"
            :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option 
                v-if="outbound.protocol === Protocols.Hysteria"
                value="salamander">
                Salamander (Hysteria2)
            </a-select-option>
            <template v-else>
                <a-select-option value="mkcp-aes128gcm">mKCP AES-128-GCM</a-select-option>
                <a-select-option value="header-dns">Header DNS</a-select-option>
                <a-select-option value="header-dtls">Header DTLS 1.2</a-select-option>
                <a-select-option value="header-srtp">Header SRTP</a-select-option>
                <a-select-option value="header-utp">Header uTP</a-select-option>
                <a-select-option value="header-wechat">Header WeChat Video</a-select-option>
                <a-select-option value="header-wireguard">Header WireGuard</a-select-option>
                <a-select-option value="mkcp-original">mKCP Original</a-select-option>
                <a-select-option value="xdns">xDNS</a-select-option>
                <a-select-option value="xicmp">xICMP</a-select-option>
                <a-select-option value="header-custom">Header Custom</a-select-option>
                <a-select-option value="noise">Noise</a-select-option>
                <a-select-option value="sudoku">Sudoku</a-select-option>
            </template>
        </a-select>
        </a-form-item>
        <a-form-item label='{{ i18n "password" }}'
        v-if="['salamander', 'mkcp-aes128gcm', 'sudoku'].includes(mask.type)">
        <a-input v-model.trim="mask.settings.password"
            placeholder='{{ i18n "pages.inbounds.stream.finalmask.obfuscationPassword" }}'></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.domain" }}'
        v-if="['header-dns', 'xdns'].includes(mask.type)">
        <a-input v-model.trim="mask.settings.domain"
            placeholder="e.g., www.example.com"></a-input>
        </a-form-item>
        <template v-if="mask.type === 'header-custom'">
            <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.client" }}'>
                <a-icon type="plus" type="primary" size="small" @click="mask.settings.client.push({rand: 0, randRange: '0-255', type: 'array', packet: []})" />
            </a-form-item>
            <template v-for="(c, index) in mask.settings.client" :key="index">
                <a-divider :style="{ margin: '0' }"> {{ i18n "pages.inbounds.stream.finalmask.client" }} [[ index + 1 ]]
                    <a-icon type="delete"
                        @click="() => mask.settings.client.splice(index, 1)"
                        :style="{ color: 'rgb(255, 77, 79)', cursor: 'pointer' }"></a-icon>
                </a-divider>
                <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.rand" }}'>
                    <a-input-number v-model.number="c.rand" :min="0"></a-input-number>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.randRange" }}'>
                    <a-input v-model.trim="c.randRange" placeholder="0-255"></a-input>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.hysteria.type" }}'>
                    <a-select v-model="c.type" :dropdown-class-name="themeSwitcher.currentTheme">
                        <a-select-option value="array">Array</a-select-option>
                        <a-select-option value="str">String</a-select-option>
                        <a-select-option value="hex">Hex</a-select-option>
                        <a-select-option value="base64">Base64</a-select-option>
                    </a-select>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.packet" }}'>
                    <a-input v-model.trim="c.packet" placeholder='{{ i18n "pages.inbounds.stream.finalmask.binaryData" }}' />
                </a-form-item>
            </template>
            <a-divider :style="{ margin: '0' }"></a-divider>
            <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.server" }}'>
                <a-icon type="plus" type="primary" size="small" @click="mask.settings.server.push({rand: 0, randRange: '0-255', type: 'array', packet: []})" />
            </a-form-item>
            <template v-for="(s, index) in mask.settings.server" :key="index">
                <a-divider :style="{ margin: '0' }"> {{ i18n "pages.inbounds.stream.finalmask.server" }} [[ index + 1 ]]
                    <a-icon type="delete"
                        @click="() => mask.settings.server.splice(index, 1)"
                        :style="{ color: 'rgb(255, 77, 79)', cursor: 'pointer' }"></a-icon>
                </a-divider>
                <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.rand" }}'>
                    <a-input-number v-model.number="s.rand" :min="0"></a-input-number>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.randRange" }}'>
                    <a-input v-model.trim="s.randRange" placeholder="0-255"></a-input>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.hysteria.type" }}'>
                    <a-select v-model="s.type" :dropdown-class-name="themeSwitcher.currentTheme">
                        <a-select-option value="array">Array</a-select-option>
                        <a-select-option value="str">String</a-select-option>
                        <a-select-option value="hex">Hex</a-select-option>
                        <a-select-option value="base64">Base64</a-select-option>
                    </a-select>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.packet" }}'>
                    <a-input v-model.trim="s.packet" placeholder='{{ i18n "pages.inbounds.stream.finalmask.binaryData" }}' />
                </a-form-item>
            </template>
        </template>
        <template v-if="mask.type === 'sudoku'">
            <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.ascii" }}'>
                <a-input v-model.trim="mask.settings.ascii" placeholder='{{ i18n "pages.inbounds.stream.finalmask.ascii" }}'></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.customTable" }}'>
                <a-input v-model.trim="mask.settings.customTable" placeholder='{{ i18n "pages.inbounds.stream.finalmask.customTable" }}'></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.customTables" }}'>
                <a-input v-model.trim="mask.settings.customTables" placeholder='{{ i18n "pages.inbounds.stream.finalmask.customTables" }}'></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.paddingMin" }}'>
                <a-input-number v-model.number="mask.settings.paddingMin" :min="0"></a-input-number>
            </a-form-item>
        </template>
        <template v-if="mask.type === 'noise'">
            <a-form-item label='{{ i18n "reset" }}'>
                <a-input-number v-model.number="mask.settings.reset" :min="0" />
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.noise" }}'>
                <a-icon type="plus" type="primary" size="small" @click="mask.settings.noise.push({rand: '1-8192', randRange: '0-255', type: 'array', packet: '', delay: ''})" />
            </a-form-item>
            <template v-for="(n, index) in mask.settings.noise" :key="index">
                <a-divider :style="{ margin: '0' }"> {{ i18n "pages.inbounds.stream.finalmask.noise" }} [[ index + 1 ]]
                    <a-icon type="delete"
                        @click="() => mask.settings.noise.splice(index, 1)"
                        :style="{ color: 'rgb(255, 77, 79)', cursor: 'pointer' }"></a-icon>
                </a-divider>
                <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.rand" }}'>
                    <a-input-number v-model.number="n.rand" :min="0"></a-input-number>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.randRange" }}'>
                    <a-input v-model.trim="n.randRange" placeholder="0-255"></a-input>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.hysteria.type" }}'>
                    <a-select v-model="n.type" :dropdown-class-name="themeSwitcher.currentTheme">
                        <a-select-option value="array">Array</a-select-option>
                        <a-select-option value="str">String</a-select-option>
                        <a-select-option value="hex">Hex</a-select-option>
                        <a-select-option value="base64">Base64</a-select-option>
                    </a-select>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.packet" }}'>
                    <a-input v-model.trim="n.packet" placeholder='{{ i18n "pages.inbounds.stream.finalmask.binaryData" }}' />
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.finalmask.delay" }}'>
                    <a-input v-model.trim="n.delay" placeholder="10-20" />
                </a-form-item>
            </template>
        </template>
        <template v-if="mask.type === 'xicmp'">
            <a-form-item label='IP'>
                <a-input v-model.trim="mask.settings.ip" placeholder="0.0.0.0"></a-input>
            </a-form-item>
            <a-form-item label='ID'>
                <a-input-number v-model.number="mask.settings.id" :min="0"></a-input-number>
            </a-form-item>
        </template>
    </a-form>
    </template>
</template>

<!-- tls settings -->
<template v-if="outbound.canEnableTls()">
        <a-form-item label='{{ i18n "security" }}'>
            <a-radio-group v-model="outbound.stream.security" button-style="solid">
                <a-radio-button value="none">{{ i18n "none" }}</a-radio-button>
                <a-radio-button value="tls">TLS</a-radio-button>
                <a-radio-button v-if="outbound.canEnableReality()" value="reality">Reality</a-radio-button>
            </a-radio-group>
        </a-form-item>
        <template v-if="outbound.stream.isTls">
            <a-form-item label='{{ i18n "pages.inbounds.stream.tls.sni" }}'
                placeholder='{{ i18n "pages.inbounds.stream.tls.sniDesc" }}'>
                <a-input v-model.trim="outbound.stream.tls.serverName"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.tls.uTLS" }}'>
                <a-select v-model="outbound.stream.tls.fingerprint"
                            :dropdown-class-name="themeSwitcher.currentTheme">
                    <a-select-option value=''>None</a-select-option>
                    <a-select-option v-for="key in UTLS_FINGERPRINT" :value="key">[[ key ]]</a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.tls.alpn" }}'>
                <a-select
                    mode="multiple"
                   
                    :dropdown-class-name="themeSwitcher.currentTheme"
                    v-model="outbound.stream.tls.alpn">
                    <a-select-option v-for="alpn in ALPN_OPTION" :value="alpn">[[ alpn ]]</a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.xray.outbound.tlsExtra.echConfigList" }}'>
                <a-input v-model.trim="outbound.stream.tls.echConfigList"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.inbounds.stream.tls.allowInsecure" }}'>
                <a-switch v-model="outbound.stream.tls.allowInsecure"></a-switch>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.xray.outbound.tlsExtra.verifyPeerCertByName" }}'>
                <a-input v-model.trim="outbound.stream.tls.verifyPeerCertByName"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "pages.xray.outbound.tlsExtra.pinnedPeerCert" }}'>
                <a-input v-model.trim="outbound.stream.tls.pinnedPeerCertSha256"
                    placeholder='{{ i18n "pages.xray.outbound.mux.pinnedSha256" }}'>
                </a-input>
            </a-form-item>
        </template>
        
        <!-- reality settings -->
        <template v-if="outbound.stream.isReality">
                <a-form-item label='{{ i18n "pages.inbounds.stream.tls.sni" }}'>
                    <a-input v-model.trim="outbound.stream.reality.serverName"></a-input>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.tls.uTLS" }}'>
                    <a-select v-model="outbound.stream.reality.fingerprint"
                                :dropdown-class-name="themeSwitcher.currentTheme">
                        <a-select-option v-for="key in UTLS_FINGERPRINT" :value="key">[[ key ]]</a-select-option>
                    </a-select>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.xray.outbound.tlsExtra.shortID" }}'>
                    <a-input v-model.trim="outbound.stream.reality.shortId" style="width:250px"></a-input>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.reality.spiderX" }}'>
                    <a-input v-model.trim="outbound.stream.reality.spiderX" style="width:250px"></a-input>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.reality.publicKey" }}'>
                            <a-input v-model.trim="outbound.stream.reality.publicKey"></a-input>
                </a-form-item>
                <a-form-item label='{{ i18n "pages.inbounds.stream.reality.mldsa65Verify" }}'>
                    <a-input v-model.trim="outbound.stream.reality.mldsa65Verify"></a-input>
                </a-form-item>
        </template>
</template>

<!-- sockopt settings -->
<a-form-item label='{{ i18n "pages.inbounds.stream.sockopt.sockopt" }}'>
    <a-switch v-model="outbound.stream.sockoptSwitch"></a-switch>
</a-form-item>
<template v-if="outbound.stream.sockoptSwitch">
    <a-form-item label='{{ i18n "pages.inbounds.stream.sockopt.dialerProxy" }}'>
        <a-select v-model="outbound.stream.sockopt.dialerProxy" :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option v-for="tag in ['', ...outModal.tags]" :value="tag">[[ tag ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.xray.outbound.sockoptExtra.addressPortStrategy" }}'>
        <a-select v-model="outbound.stream.sockopt.addressPortStrategy" :dropdown-class-name="themeSwitcher.currentTheme">
        <a-select-option v-for="key in Address_Port_Strategy" :value="key">[[ key ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.xray.outbound.sockoptExtra.keepAliveInterval" }}'>
        <a-input-number v-model.number="outbound.stream.sockopt.tcpKeepAliveInterval" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.sockopt.tcpFastOpen" }}'>
        <a-switch v-model="outbound.stream.sockopt.tcpFastOpen"></a-switch>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.sockopt.multipathTCP" }}'>
        <a-switch v-model.trim="outbound.stream.sockopt.tcpMptcp"></a-switch>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.sockopt.penetrate" }}'>
        <a-switch v-model="outbound.stream.sockopt.penetrate"></a-switch>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.sockopt.trustedXForwardedFor" }}'>
        <a-select mode="tags" v-model="outbound.stream.sockopt.trustedXForwardedFor" :style="{ width: '100%' }"
            :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option value="CF-Connecting-IP">CF-Connecting-IP</a-select-option>
            <a-select-option value="X-Real-IP">X-Real-IP</a-select-option>
            <a-select-option value="True-Client-IP">True-Client-IP</a-select-option>
            <a-select-option value="X-Client-IP">X-Client-IP</a-select-option>
        </a-select>
    </a-form-item>
</template>

<!-- mux settings -->
<template v-if="outbound.canEnableMux()">
    <a-form-item label='{{ i18n "pages.xray.outbound.mux.mux" }}'>
        <a-switch v-model="outbound.mux.enabled"></a-switch>
    </a-form-item>
    <template v-if="outbound.mux.enabled">
        <a-form-item label='{{ i18n "pages.xray.outbound.mux.concurrency" }}'>
            <a-input-number v-model.number="outbound.mux.concurrency" :min="-1" :max="1024"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.mux.xudpConcurrency" }}'>
            <a-input-number v-model.number="outbound.mux.xudpConcurrency" :min="-1" :max="1024"></a-input-number>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.outbound.mux.xudpUDP443" }}'>
            <a-select v-model="outbound.mux.xudpProxyUDP443" :dropdown-class-name="themeSwitcher.currentTheme">
                <a-select-option v-for="c in ['reject', 'allow', 'skip']" :value="c">[[ c ]]</a-select-option>
            </a-select>
        </a-form-item>
    </template>
</template>

</a-form>
</a-tab-pane>
<a-tab-pane key="2" tab="JSON" force-render="true">
    <a-form-item style="margin: 10px 0">
        Link: <a-input v-model.trim="outModal.link" style="width: 300px; margin-right: 5px;" placeholder="vmess:// vless:// trojan:// ss:// hysteria2://"></a-input>
        <a-button @click="convertLink" type="primary"><a-icon type="form"></a-icon></a-button>
    </a-form-item>
        <textarea style="position:absolute; left: -800px;" id="outboundJson"></textarea>
</a-tab-pane>
</a-tabs>
{{end}}
